<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EliteWear</title>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/global.css">
</head>
<body>
<nav class="elite-navbar">
    <div class="navbar-container">
        <a href="/" class="navbar-logo">ELITEWEAR</a>

        <button class="menu-toggle" id="menu-toggle">
            <span class="menu-icon"></span>
        </button>

        <ul class="nav-links" id="nav-links">
            <li><a href="/products" class="nav-btn">Shop</a></li>
            <li><a href="/cart" class="nav-btn">Cart</a></li>
            <li><a href="/orders" class="nav-btn">Orders</a></li>
            <li th:if="${#authorization.expression('hasRole(''ADMIN'')')}"><a href="/admin-dashboard" class="nav-btn">Admin</a>
            </li>
        </ul>

        <div class="modal-overlay" id="modalOverlay">
            <div class="modal-login">
                <span class="close-login-modal" id="closeModal">&times;</span>
                <h2>Sign In</h2>
                <form action="/login" method="post">
                    <label>
                        <input type="text" name="username" placeholder="Username" required>
                    </label>
                    <label>
                        <input type="password" name="password" placeholder="Password" required>
                    </label>
                    <button type="submit">Login</button>
                </form>
                <p>Don't have an account? <a href="/register">Create an Account</a></p>
            </div>
        </div>

        <div class="navbar-auth">
            <a href="/login" class="btn-auth btn-login">Login</a>
            <a href="/register" class="btn-auth btn-register">Register</a>
        </div>
    </div>
</nav>

<script src="/js/navbar.js"></script>
</body>
</html>