<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Orders</title>
</head>
<body>
<h1>All Orders</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>User ID</th>
        <th>Order Date</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
        <td th:text="${order.id}"></td>
        <td th:text="${order.userId}"></td>
        <td th:text="${order.orderDate}"></td>
        <td th:text="${order.status}"></td>
    </tr>
    </tbody>
</table>
<a href="/">Back to Home</a>
</body>
</html>
